
client
nobind
dev tun
key-direction 1
remote-cert-tls server
remote 193.161.193.99 1194 tcp


<key>
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCsRQdRUgBTXIdk
tBXnViS7N+qwUpa4ho8vnWPoDNWFFlJEd1OVOVuKICw0D3aUILMx3LJIQ0Aeo+Xj
/ggRj+uM8LZqCm9+MjX3QzW5zYKrm1gAaXhgxlMFg2dOgAl1x7Tv+ziMPSCH1UmM
A27MiM08jxEhSf/vkhiQvlTrw0SSV15Wml3UYbuvRB8i5d+4i5XzLUj63Hz5zIQH
tIU1lG2vKpDA56EYW1anW+h2fyl5bu+QIGYPy1M8CM1tBHdZlja0L7CkFPGImW87
g8XiNuQFcS+z625JrhFqurKCLA8IjlpR+dqO8O2u6Dn/yUlJ8eEPU9SPdf/VXNwq
UVICnbSZAgMBAAECggEBAKECP22lC8LeF3lqy5IVNG17PLGh71b2BPwGyarH3ATw
sOFm+crd+g2mNkpOLZES4wj2cfcSS+qXWzV1Z4sqjYiELqn7qOs0+LVqrttDFh9Y
KK7x5N3mXxAnGbYH+0+G4Tju/5IrS61JDt17E+K89b3lJaiMZlY+oREfo3VbY0q2
LiK3mG7MfK0n082Du14+JC87mR8juYMz7hu8Sx8TMQjnnGifRjMEK8VtpR23Ih00
BV/FwHSVfWTTflbv5LQFNjdUf+EszhqtuSuLo4a+7fRkCjGtIODYKvvpmwKGOcaS
CYeMFU7sTfUe+4YQy8/HwlK0ieyISCfh2zZzzdIHvYECgYEA4zcpTVR+y9ej1cNN
emgg/9ctAQsD4MqHcE5lCzLPauWH0BIMhmYQh9/IF2LQhM5AQoWh5JlIIKNhFw+X
mhSmfMkvT2YXJRKasbwfgkTz4JfXJdig0PwUZccJ/0aRZYXBKKfrW2zRq+sRmGJh
dXessJ/xwKOJt79TnhHv9OreHbECgYEAwhfqa7JBvGZTM8GWT4xIsJNsfxOfUPsm
qY97QZvDWekmWhYiUDzELIEII6oMEemK2qW3UK8Uql0af6AufzEPQ04BBck2WDjG
sOu0mIeMRm5EKYVVKTIYdQKjpwQUe08FDAJ+e+ClL5QlzYxiwiLPERZ2iqlup5ni
GAYe2gtqt2kCgYBlluY6kwrWLSYtj1L25dPLT/PpQXmMakFAL2zyItemXdXpbAh5
luzRM3cNLbs5hdYpaAJIaVhcb3AblXcdBxqhNHqYr3attrG/wfL8lcPMqVcirsbI
aczc7K9FmdGsaK9CdEHA8NiWW1XUojgdA1MM7ZZzoSsUItFKHY8CHHkPIQKBgEHX
ixZtqg8XRzJPgYYKuL3txOh255y5Fix/F/jxthtSFEiLKai+dG4Ed5ZhoSaSayAx
Bza/rer9GnghBqTvJ5ZVZ9NmpqDW4dAypVj44oUh8s2DBZir/c/zzUBjCe+qprOk
RPQRCPhS8WABN59T35qUXDI9t+PzN9eee+jL5q/BAoGAE9Bj12ivjACvnoZf+9Jf
SEtmsDvWvy9GRex18iR9IyC3R79qCc+H+YcXovfdtiNgg14yEb3f2XYANi2MPxEG
wC1bT7/MUNBazZRfiXtuwCAodFZWKbNwguXL64PxuEInBimBDIRkV9GC4Dcp6Yfq
0KQqckJhtTelj8QeDfrtGLo=
-----END PRIVATE KEY-----
</key>
<cert>
-----BEGIN CERTIFICATE-----
MIIDRjCCAi6gAwIBAgIDCAzTMA0GCSqGSIb3DQEBCwUAMBUxEzARBgNVBAMMCnBv
cnRtYXAuaW8wHhcNMjQwNjA0MDYwNzQxWhcNMzQwNjAyMDYwNzQxWjAdMRswGQYD
VQQDDBJMaWxQbHVja3kubWlrcm90aWswggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQCsRQdRUgBTXIdktBXnViS7N+qwUpa4ho8vnWPoDNWFFlJEd1OVOVuK
ICw0D3aUILMx3LJIQ0Aeo+Xj/ggRj+uM8LZqCm9+MjX3QzW5zYKrm1gAaXhgxlMF
g2dOgAl1x7Tv+ziMPSCH1UmMA27MiM08jxEhSf/vkhiQvlTrw0SSV15Wml3UYbuv
RB8i5d+4i5XzLUj63Hz5zIQHtIU1lG2vKpDA56EYW1anW+h2fyl5bu+QIGYPy1M8
CM1tBHdZlja0L7CkFPGImW87g8XiNuQFcS+z625JrhFqurKCLA8IjlpR+dqO8O2u
6Dn/yUlJ8eEPU9SPdf/VXNwqUVICnbSZAgMBAAGjgZYwgZMwCQYDVR0TBAIwADAd
BgNVHQ4EFgQU9T4EXG95GxvxiEQHoUrdicD7ZdwwRQYDVR0jBD4wPIAUNBYblrmM
4KZhOVTwBoTUYp1ArCShGaQXMBUxEzARBgNVBAMMCnBvcnRtYXAuaW+CCQDaTTym
xdZXDjATBgNVHSUEDDAKBggrBgEFBQcDAjALBgNVHQ8EBAMCB4AwDQYJKoZIhvcN
AQELBQADggEBAJZyFYZEZmVJ4gkYxEM6uW1/SaNU9qHfDTWwR00h+sSG8Ppgz36X
r+XsmQ0bFtuI18f3RphniQyUK6dEX3+xuFDTjNcwsgM++h63b72MFDZjHeX79yle
TuhVFWjZoWCZCCxr/t1n7EFaRTHPWI+GthUMeFxDEEaVxuGee7IvvJfNmPL2nXIz
PW86Qka1P/uf3EmEzsRWXtqpiyElBTrh1kFNFnIu4y+JYpbkcKWpS1NLdZSdua6a
nEhiOBe5JCYsqC1mHH4UjJsjhv6gNYYr7ay/g1Lp+JZbYMPcgyRWyTrF3aSvxJwF
ShV/oNHdA3YL3JcOwQsrcCfDb3vu9CVOvjg=
-----END CERTIFICATE-----
</cert>
<ca>
-----BEGIN CERTIFICATE-----
MIIDMjCCAhqgAwIBAgIJANpNPKbF1lcOMA0GCSqGSIb3DQEBCwUAMBUxEzARBgNV
BAMMCnBvcnRtYXAuaW8wHhcNMTcwMjE2MTAyMDM2WhcNMjcwMjE0MTAyMDM2WjAV
MRMwEQYDVQQDDApwb3J0bWFwLmlvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAuHiffM/kU4lRZ4OrFRXYLCiI7eJubuAnzySuLkug0BkypuB6ihW8f8pT
HcsTYGt7gt0CSzAe0f7j/SXGAkWFtAvURZAV/PM0VyB/yiejS0gTZXqPLMQCMvM3
TkRECAnybWT3HoJAqWukuD9N9F98LrOGYkNy5gnKirVYB9Envztb/0oqvHcntmcJ
Z598NxKa9a490UKKQMHY898EenXPf1yJmT4CFSfcZGO4D5iWMlE87oVNlmle4YoH
HSrAUJRActjhZLaO2+ymnGUxok4gVum8sw8ruCVmobXMViG9trzJMRAtawRezhCp
rMwSeRhCDC/1Z3KHDuUFQx7mTDI8WwIDAQABo4GEMIGBMB0GA1UdDgQWBBQ0FhuW
uYzgpmE5VPAGhNRinUCsJDBFBgNVHSMEPjA8gBQ0FhuWuYzgpmE5VPAGhNRinUCs
JKEZpBcwFTETMBEGA1UEAwwKcG9ydG1hcC5pb4IJANpNPKbF1lcOMAwGA1UdEwQF
MAMBAf8wCwYDVR0PBAQDAgEGMA0GCSqGSIb3DQEBCwUAA4IBAQBj8A0/6F2iNR32
U6SCMtLPumJpdIaO1xtZ6Vilxpe0WX5zrtRL8A2Lz/XCHm3VwuM2P0rTFtncax4r
Rpy3RIRZ/T+Un8H1eTjZ7HqHWnuD4z4FLl2kZ0QtFGXBTSzfzCVjm4Z/6jsxT00t
0FSLILZYhJj7ndJag6D8LnNsoYeBX5qpqhesg9L3DL9hNwRNlomC+LMCK/oYL9KS
o/Zn9VBcjJAxGAX4XsfCLBFWVVhxIgokEbLfFwJZmmcLgxMtBlnh3R0O2WRd54Z3
0zNxMJhGg61wzzBLZn3D3Q2D8wr+OxEnVKiUKL9T3ih1TDQzSMt5b2cXL2y94NaF
uvwm+iR9
-----END CERTIFICATE-----
</ca>
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
42bb453ee0df769b134e57435c88a745
927d7fd254987077bdf822567410ed73
f816335742f5737b0ad1e290ebe4e669
1a8edad3f23aff0c4872172f1e3c30d2
025cddbfd2dfdcecb3ef2f1f4e531c60
1e9c48e1abe96c46c80eaa5f121a72b5
e7b194a6a0abc06fbc736abc41122f5d
aa0c7ddcfc80455983ac7e6cb005d0c7
7ef5ed9c20cebe4481a733a5b4e63ba8
74a0710bcd0b732d5b79ef6e2032c0c2
6e1cbe01873367524a28d582901ceed1
241fe087a8e84467c9c790c7af719622
413fcc77b130629258db8a8e6678f53c
7cd213dc82e5b613ca310642cfbb6cb5
63111511e467f45417d9950035827d30
43b13e9e01f0c42481edb1fe1808806b
-----END OpenVPN Static key V1-----
</tls-auth>
key-direction 1
